%section.section.section--inverse.contacts#section-case-studies
  .container
    %h3.text-center
      Case Studies

    %p &nbsp;

    .row.text-center
      .col-md-4
        = link_to '#' do
          Presentazione attività sull'ingegneria Meccanica

      .col-md-4
        = link_to '#' do
          Presentazione attività nel settore idroelettrico

      .col-md-4
        = link_to '#' do
          Company Presentation 45-Engineering - Hydropower
