%footer.footer#section-info
  .container
    = image_tag '45-eng-white.png', class: 'footer__image'

    .footer__info
      %p
        45 Engineering S.r.l. email: <a href="mailto:info@45-eng.com">info@45-eng.com</a>
        %br
        P.IVA 04395100235 Iscrizione al r.i. di Verona n.04395100235
        %br
        REA: VR-416560 Capitale sociale € 10.000 i.v.

    .footer__social
      %p Seguici sui canali social:

      %a{ href: '#facebook', target: '_blank' }
        %i.fa.fa-fw.fa-lg.fa-facebook

      %a{ href: '#twitter', target: '_blank' }
        %i.fa.fa-fw.fa-lg.fa-twitter

      %a{ href: '#instagram', target: '_blank' }
        %i.fa.fa-fw.fa-lg.fa-instagram

      %a{ href: '#pinterest', target: '_blank' }
        %i.fa.fa-fw.fa-lg.fa-pinterest-p
