%section.section.section--hero.hero
  .container
    .hero__brand
      %h1.hero__image 45 ENGINEERING
      %h2.hero__slogan
        Delivering results, innovation & rock solid dependability.

      %h3.hero__slogan
        Sviluppo progetti di ricerca nella meccanica e nelle macchine.

    %a.hero__arrow.scroll-to{ href: '#section-contacts', title: 'Scroll down' }
      %i.fa.fa-angle-down
