%section.section.section--hero.hero
  .container
    .hero__brand
      %h1.hero__image 45 ENGINEERING
      %h2.hero__slogan
        Hydropower consultants | R&D management | Mechanical engineering.

      %h5.hero__slogan
        Consulenza su impianti idroelettrici | Sviluppo di progetti di ricerca sulla meccanica e sulle macchine | Ingegneria meccanica.

    -# %p &nbsp;
    %hr

    .row.text-center
      .col-md-4
        = link_to '/download/Presentazione_45-Engineering_Mech_IT.pdf', target: '_blank' do
          Presentazione attività sull'ingegneria Meccanica

      .col-md-4
        = link_to '/download/Presentazione_45-Engineering_HY_IT.pdf', target: '_blank' do
          Presentazione attività nel settore idroelettrico

      .col-md-4
        = link_to '/download/Company_Presentation_45-Engineering_HY_EN.pdf', target: '_blank' do
          Company Presentation 45-Engineering - Hydropower


    %a.hero__arrow.scroll-to{ href: '#section-contacts', title: 'Scroll down' }
      %i.fa.fa-angle-down
