%section.section.section--map#section-map
  .container
    %h3.text-center
      Le nostre sedi

    %h5.text-subtitle Fissa un appuntamento e vieni a trovarci nelle nostri sedi.

  #contacts-map{style: 'height: 550px'}
