.flexslider#HomeSlider
  %ul.slides
    %li.flexslider__item
      = image_tag 'image_01.png'

    %li.flexslider__item
      = image_tag 'image_02.png'

    %li.flexslider__item
      = image_tag 'image_03.png'

    %li.flexslider__item
      = image_tag 'image_04.png'

    -# %li.flexslider__item
    -#   = image_tag 'image_05.png'
