.slogan
  .container
    %h3.text-center
      Project goals

    %p.text-center
      Quello dell'architetto è un mestiere antico come cacciare, pescare, coltivare ed esplorare.
      %br
      Dopo la ricerca del cibo viene la ricerca della dimora. Ad un certo punto, l'uomo insoddisfatto dei rifugi offerti dalla natura, è diventato architetto.
